<link rel="stylesheet" href="/css/authentication.css">

<br><br><br><br>
<section>
    <h1>Sign In</h1>
    <div>
        <form action="/user/create-session" method="POST">
            <input type="email" name="email" placeholder="enter email" required> <br>
            <input type="password" name="password" placeholder="enter password" required><br>
            <button type="submit">sign-in</button>
        </form>
    
        <p>
            don't have an account? Sign up <a href="/user/sign-up">here</a>
        </p>
    </div>
</section>