<h1>Sign-in Page</h1>
<form action="/user/create-session" method="POST">
    <input type="email" name="email" placeholder="enter email" required> <br>
    <input type="password" name="password" placeholder="enter password" required><br>
    <button type="submit">sign-in</button>
</form>

<p>
    don't have an account? Sign up <a href="/user/sign-up">here</a>
</p>